<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" data-th-href="@{/site/style.css}">
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <div id = "app">
        <div class="loader" style="background-color: rgba(0, 0, 0, 0.3); display: none;"><div class="loader-content"><div class="loader-range" style="border-bottom-color: rgb(84, 90, 106); border-right-color: rgb(212, 212, 219); border-left-color: rgb(212, 212, 219); opacity: 0.5; animation-duration: 0.8s;"></div></div></div>
        <div class="fixedbg">
            <div class="fixedbg child" th:style = "'background-image:url(http://www.bing.com' + ${bg.url} + '); background-position: center center;'">
                ::before
            </div>
        </div>
    </div>
    <div>xxx</div>
    <h1>最近看到孙正义的访谈</h1>
    <h2>他说自己19岁的时候在想怎样才能一个月赚1万美元</h2>
    <h2>然后一年赚到250万美元</h2>
    <h2>what about you?</h2>
    <h3>Set your goal, and work for it!</h3>
    <div>bg shows</div>
    <div>${bg.title}</div>
    <div th:text = "${bg.disc}"></div>
</body>
</html>